/* Calendario.css */
.titulo1{    
    color: black;
}

.titel{
    text-align: center;
    font-size: 3em;
    margin-top: 20px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}
.div_calendario{    
    width: 800px;
    height: auto;
    transition: transform 0.5s;
    background-color: rgba(13, 139, 68, 0);
    border-radius: 0%;
    box-shadow: 0 4px 20px rgba(255, 2, 2, 0);
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0px;  
    color: rgb(0, 0, 0);    
}

.calendar-table {
   /*  background-image: url('./Imagenes/Calendario.jpg');
    background-size: cover; /* Ajusta la imagen para que cubra todo el área */

  /*   background-repeat: repeat-y;
    background-size: 100% auto;  *//* Se ajusta al ancho, repitiéndose hacia abajo */ 
   
    height: 90%;
    width: auto;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 10px 30px rgba(17, 184, 64, 0.718);
    border-radius: 10px;
    
}


.calendar-table th, .calendar-table td{
    font-family: 'Montserrat', sans-serif; /* misma fuente para todo */
    width: 12%;
    height: 55px;
    background-color: transparent;
    vertical-align: top;
    text-align: center;
    padding: 5px 15px;
    box-shadow: 0 1px 1px rgb(0, 0, 0); /* Línea de borde de Bootstrap */
    color: rgba(0, 0, 0, 0.87);
    font-size: 20px;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* misma fuente para todo */
}

.calendar-table td:hover{   
    background-color: rgba(66, 236, 32, 0.255); /* Cambia el color de fondo al pasar el mouse */
    color: #000000; /* Cambia el color del texto al pasar el mouse */
    box-shadow: 0 6px 20px rgba(250, 250, 250, 0);
    border-radius: 30%;
}

.calendar-table th{
    background: rgba(255, 255, 255, 0.871);
    color: black;
    border-radius: 0px;
    box-shadow: 0 2.5px 5px rgb(0, 0, 0); /* Línea de borde de Bootstrap */
    align-items: center;
}



.day {
    position:relative;
    background-color: #ffffff; /* círculo blanco */
  color: #333333; /* número oscuro */
  border-radius: 10%;
  width: 35px;
  height: 35px;
  
  align-items: center;
  justify-content: center;
  margin: 3px;
  font-weight: 600;
  transition: all 0.3s ease;
  
}
.day:hover{
    background-color: #ffd700; /* dorado maya al pasar el mouse */
  color: #000000;
  cursor: pointer;
}

.day-message-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px;
    color: #FFA500;
    opacity: 0.8;
    
}

.day-description {
    font-size: 12px;
    color: #333;
    margin-top: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.empty-day {
    background-color: #f8f9fa; /* Fondo de Bootstrap */
}

.today {
    background-color: #ffcc00; /* Cambia este color según tus preferencias */
    font-weight: bold; /* Opcional: para resaltar más el día actual */
    border-radius: 5px; /* Opcional: para darle un poco de redondez a la celda */
}


/* Calendario.css */
.day {
   cursor: pointer;
   background: #333;
  border: 2px solid #00000013;
   
}

.day-with-event {
    background-color: #ecf800;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.5s;
    color: chartreuse;
    background-color: #ecf800;
    
    
}

/* dia seleccionado con evento */

.day-with-event:hover {
    transform: scale(1.09);
    box-shadow: 0 2 20px rgba(236, 235, 235, 0.988);
   background-color: rgb(27, 15, 15);
    border-radius: 10%;
    font-family: 'Montserrat', sans-serif; /* misma fuente para todo */
    
}

/* Hoy */
.day.today {
    border: 3px solid #f80000;
}
    
.message-popup {
color:#000000;
  background-color: #ffffff; /* verde esmeralda */
  border-radius: 10%; /* círculo */
  box-shadow: 0 0 10px #2ecc71, 0 0 10px #3498db; /* glow verde-azul cenote */
  transition: all 0.3s ease;
    font-size: 0.6em;
}
.message-popup:hover{
    box-shadow: 0 0 10px #2ecc7000, 0 0 10px #3498db00; /* glow verde-azul cenote */
    background-color: #f6f5f500; /* verde esmeralda */
}


/* Estilos para pantallas muy pequeñas */
@media (max-width: 780px) {
    .titulo1{
        font-size: large;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
    }
    
    .calendar1{
        font-size: large;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
    }
    .div_calendario{
        width: 100%;
        height: auto;
        transition: transform 0.5s;
        border-radius: 5%;
    
        
    }
    .calendar-table {
        width: auto;
       
    }

    .calendar-table th, .calendar-table td {
        
        height: 10px; /* Altura aún más pequeña para celdas */
        padding: 8px 5px; /* Relleno reducido */
        
        
        font-size: 0.45em; /* Tamaño de fuente aún más pequeño */
    }

    .day-description {
        
        font-size: 6px; /* Tamaño de descripción reducido */
    }
}
/* .calendar1{
    color: black;
} */

/* izuqierda derecha */

.container1 {
    display: flex;
    background-color: rgba(236, 231, 231, 0.815);
    padding: 15px 28px;
    border-radius: 18px;

}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        
    }
    
    
.message-popup {
    
    font-size: 0.7em;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f8f9fa;
    
    
}
   
}
.nombrefecha {
    font-size: 2.5em;
    ;
    color: rgb(9, 9, 9);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nombrefecha1 {
    color: #000000;
    font-size: 3em;
    text-align: center;
    margin-top: 3px;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.textevento1 {
    color: #000;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}
.calendar1{
    font-size: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(0, 0, 0)
}
.textcalendar{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

