/* CONTENEDOR DE REFERENCIA (ancla a la imagen) */
.evento-card{
 background-color: #000000;
 border-radius: 10%;
}

.texto_EVETODIARIO{
  text-align: center;
  font-size: clamp(3.5rem, 2vw, 3.5rem);
  color: white;
  margin-bottom: 2rem;
}

.img-wrapper {
  position: relative;
  width: 100%;
  display: inline-block;
}

/* IMAGEN */
.cartel-videoM {
  width: 90%;
  height: auto;
  border-radius: 10%;
}

.cartel-videoM:hover {
  box-shadow: 0 9px 8px rgb(0, 255, 13);
  transition-duration: 0.4s;
}

/* BASE BOTONES */
.bottonEvent2,
.bottonEvent22 {
  position: absolute;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  transition: transform 0.3s ease;
  animation: zoomPulse 3s infinite ease-in-out;

}

/* BOTÓN 1 */
.bottonEvent2 {
  background-image: url("/src/componentes/Imagenes/iglesia1.png");
  width: 90%;
  height: 40%;
  top: 10%;
  left: 28%;
}

/* BOTÓN 2 */
.bottonEvent22 {
  background-image: url("/src/componentes/Imagenes/iglesia2.png");
  width: 90%;
  height: 30%;
  top: 73%;
  left: 5%;
}

/* HOVER */
.bottonEvent2:hover,
.bottonEvent22:hover {
  transform: scale(1.1);
}

/* TEXTO DE INDICACIONES (centrado y fijo debajo del botón) */
.texto_indicaciones,
.texto_indicaciones1 {
  position: absolute;
  bottom: 3rem;
  left: 51%;
  transform: translateX(-50%);
  font-size: clamp(1.2rem, 2vw, 3.5rem);
  background-color: black;
  color: white;
  border-radius: 20%;
  padding: 0.3rem 0.8rem;
  white-space: nowrap;
}

/* ANIMACIÓN DE ZOOM SUAVE */
@keyframes zoomPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  .texto_EVETODIARIO {
    font-size: clamp(2rem, 4vw, 3rem);
    margin: 0px;
  }
  .texto_indicaciones,
  .texto_indicaciones1 {
    bottom: 0rem;
    font-size: clamp(1rem, 2vw, 2rem);
    
  }
  
}

