.titelevent{
    font-size: 2rem;
    color: #ebeaea;
    text-align: center;
    margin-top: 20px;
}

.colordescription{
  color: #fbfbfb;
}
.eventodiario-container {
  padding: 1rem;
}

.search-input{
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

.titelevent {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.evento-card {
  margin-bottom: 1rem;
  padding: 12px 12px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  background-color: rgb(0, 0, 0);
}

.map-container {
  margin-top: 1rem;
  border-radius: 10px;
  overflow: hidden;
}
.evento-card {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 22px;
}

.evento-overlay {
  position: relative;
  width: 100%;
  height: auto;
}

.imagen-fondo {
  width: 100%;
  height: 300px;
  object-fit: cover;
  filter: brightness(0.5); /* oscurece para que el texto resalte */
}
/* Centra el div   */

.contenido-sobre-imagen1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 20px;
}

/* Botón 1 */
.bottonEvent2 {
  background-image: url("/src/componentes/Imagenes/iglesia1.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  color: white;
  padding: 250px 480px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  font-size: 20px;
  top: 22%;
  left: 42%;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.4s ease;
  /* Para tooltip */
}

.bottonEvent2:hover {
  transform: scale(1.2);
}

/* Tooltip para bottonEvent2 */
.bottonEvent2::after {
  content: "Directions to get there";
  position: absolute;
  top: 90%;
  left: 37%; /* a la derecha del botón */
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  font-size: 24px;
}

.bottonEvent2:hover::after {
  opacity: 1;
  transform: translateY(-50%) translateX(5px);
}

/* Botón 2 */
.bottonEvent22 {
  background-image: url("/src/componentes/Imagenes/iglesia2.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  color: white;
  padding: 250px 480px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  font-size: 20px;
  top: 74%;
  left: 18%;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.4s ease;
  /* Para tooltip */
}

.bottonEvent22:hover {
  transform: scale(1.2);
}

/* Tooltip para bottonEvent22 */
.bottonEvent22::after {
  content: "Directions to get there";
  position: absolute;
  top: 74%;
  left: 37%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  font-size: 24px;
}

.bottonEvent22:hover::after {
  opacity: 1;
  transform: translateY(-50%) translateX(5px);
}



.colordescription {
  background-image: url('./Imagenes/colores64.png');
  border: transparent;
  padding: 9px 6px;
  background-size: cover;
  background-clip: text;
  color: transparent;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  to {
    background-position-x: -1200px;
  }
}

.cartel-videoM{ 
  width: 90%;
  height: auto;
  border-radius: 10%;
  box-shadow: 0 90px 58px rgb(255, 0, 0);
}

.cartel-videoM:hover {
  box-shadow: 0 90px 58px rgb(0, 255, 13);
  transition-duration: 0.4s;
}

@media (max-width: 1024px) {
  .cartel-videoM {
    width: 100%;
    height: auto;
  }
  .bottonEvent2{
    padding: 110px 100px;
    font-size: 10px;
    margin: 35px 65px;
    height: 25px;
  }
  .bottonEvent22{
    padding: 100px 200px;
    left: 10%;
  }
  .bottonEvent2::after {
    font-size: 16px;
    top: 85%;
    left: 7%;
  }
  .bottonEvent22::after {
    font-size: 16px;
    top: 75%;
    left: 27%;
  }
}
