.containerr{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10%;
    width: 1050px;
    height: auto;
    color: black;

}
.event-detail {
    margin-bottom: 20px;
}


.video-container, .map-container {
    height: auto;
    width: auto;
    margin-bottom: 20px;
    border-radius: 10%;
}

.bottonEvent{
    background-color: #ccc;
    height: 33px;
    width: auto;
    border-radius: 10%;
}
.bottonEvent:hover{
    transform: scale(1.01);
    background-color: yellow;
    box-shadow: 0 0px 20px rgb(244, 2, 2);
}

.btn-separado {
  margin-right: 10px; /* Ajusta el espacio a tu gusto */
}
.textoedicion{  
    text-align: justify;
    text-justify: inter-word;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    text-indent: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #cccccc90;
    padding: 15px;
    border-radius: 10px;
}
@media (max-width: 1024px) {
    .containerr{
        background-color: black;
        border-radius: 10%;
        width: 550px;
        height: auto;
    }
    .event-detail {
        margin-bottom: 20px;
    }
    
    
    .video-container, .map-container {
        height: auto;
        width: auto;
    }
    
    .bottonEvent{
        background-color: #ccc;
        height: 33px;
        width: auto;
        border-radius: 10%;
    }
    .bottonEvent:hover{
        transform: scale(1.01);
        background-color: yellow;
        box-shadow: 0 0px 20px rgb(244, 2, 2);
    }
}

