/* ========================
   Estilos base del Header
   ======================== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 110px;
  background-color: #273a2000;
  color: #000000;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 15%;
  border-bottom: 3px solid #000000;
  position: fixed;
  top: 70px;
  left: 0;
   z-index: 9999; /* Siempre encima */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.66);
}

body {
  -webkit-overflow-scrolling: touch;
}

.header {
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}


.house-door{
  background-color: rgb(255, 255, 255);
}

/* Estado oculto y visible del header */
.header.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.header.visible {
  transform: translateY(0);
  opacity: 1;
}

/* =====================
   Navegación principal
   ===================== */
.header-nav {
  display: flex;
  gap: 25px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
}

.nav-link:hover {
  color: #ffffff;
  box-shadow: 0 0px 20px rgb(244, 2, 2);
}

/* ===============
   Botón genérico
   =============== */
.botton {
  border-radius: 10%;
  /* background-image: url('./Imagenes/Colores4.jpg'); */
  border: transparent;
  font-size: 1em;
  padding: 7px 15px;
  font-weight: 700;
  
  background-size: cover;
  background-clip: text;
  color: black; /* transparent */
  animation: animate 20s linear infinite;
    /* 👇 Esto lo baja un poco */
  margin-top: 5px; /* ajusta el valor según lo que necesites */
}

.botton1{
  border-radius: 10%;
  background-image: url('./Imagenes/Colores4.jpg');
  border: transparent;
  font-size: 1.9em;
  padding: 9px 15px;
  background-size: cover;
  background-clip: text;
  color: transparent;
  animation: animate 20s linear infinite;
    /* 👇 Esto lo baja un poco */
  margin-top: 5px; /* ajusta el valor según lo que necesites */
}
.botton1:hover {
  box-shadow: 0 0px 5px rgb(244, 2, 2);
}

.barra{
  font-size: 1.5em;
}

@keyframes animate {
  to {
    background-position-x: -20px;
  }
}

.botton:hover {
  box-shadow: 0 0px 5px rgb(244, 2, 2);
}

/* =====================
   Botón hamburguesa
   ===================== */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
}

.menu-toggle span {
  height: 3px;
  width: 25px;
  background: white;
  border-radius: 2px;
}

/* =====================
   Navegación colapsada
   ===================== */
.header-nav.mobile {
  display: none;
  flex-direction: column;
  background-color: #273a20;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 999;
}

.header-nav.mobile.open {
  display: flex;
}

/* ==========================
   Contenedor del logo fondo
   ========================== */
.contenedor {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100dvh; /* sobrescribe si es compatible */

  overflow: hidden;
  z-index: 1;
}

.DivLogo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logo-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ======================
   Popup o menú flotante
   ====================== */
.popup-wrapper {
  position: relative;
  display: inline-block;
  top: 7%;
}

.popup-overlay1 {
  position: absolute;
  top: 102%;
  left: -240%;  
  background-color: transparent;
  padding: 0px;
  border-radius: 5px;

  z-index: 2000;
  width: 360px;
  animation: fadeIn 0.3s ease-in-out;
}
.popup-content {
  background: transparent;
  text-align: center;
}
.popup-links button:hover,
.popup-contacts a:hover {
  color: #0056b3;
}

/* =====================
   Sección botón menú
   ===================== */
.menu-section {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

.menu-button {
  background-color: #0066cc;
  color: rgb(0, 0, 0);
  padding: 2px 2px;
  border: none;
  cursor: pointer;
}

/* ========================
   Estilo específico extra
   ======================== */
.header_container5 {
  background-color: #030f1c;
}

/* ==========================
   Estilos para etiquetas <a>
   ========================== */

.links_F-I-Y {
  display: flex;
  justify-content: center;     /* Centra horizontalmente */
  align-items: center;         /* Centra verticalmente si es necesario */
  gap: 20px;                   /* Espacio entre íconos */
  margin: 0px 0;              /* Espacio vertical exterior */
}

.links_F-I-Y a svg {
  width: 46px;
  height: 46px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.links_F-I-Y a:hover svg {
  transform: scale(1.2);       /* Efecto al pasar el mouse */

}
/* === BOTÓN FLOTANTE === */
.btn-transporte-fixed {
    position: fixed;
    bottom: 25px;
    left: 25px;
    top: 83%;

    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 900;

    background: linear-gradient(135deg, #000000, #27ae60);
    color: rgb(251, 255, 1);
    padding: 6px;
    border-radius: 20%;
    box-shadow: 0 6px 20px rgba(0,0,0,0.25);
    cursor: pointer;
    z-index: 9999;

    transition: all 0.5s ease;

    /* ✅ IMPORTANTE: permite redimensionar al contenido */
    width: max-content;
    height: max-content;
    transition: all 0.5s ease;
}

/* ✅ Texto oculto (al pasar 5s) */
.btn-transporte-fixed.hide-text .btn-text {
    opacity: 0;
    max-width: 0;
    transform: translateX(-10px);
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.4s ease;
}

/* ✅ El botón se hace pequeño cuando no hay texto */
.btn-transporte-fixed.hide-text {
    padding: 6px;
    gap: 0;
    border-radius: 20%;
    transition: all 0.4s ease;
}

/* ✅ Texto visible al entrar a la página */
.btn-transporte-fixed.show-text .btn-text {
    opacity: 1;
    max-width: 200px;
    transform: translateX(0);
    transition: all 0.4s ease;
}

/* ✅ EL EFECTO CLAVE → al pasar el mouse vuelve a aparecer el texto */
.btn-transporte-fixed:hover .btn-text {
    opacity: 1;
    max-width: 200px;
    transform: translateX(0);
}

/* ✅ El botón se expande automáticamente al volver el texto */
.btn-transporte-fixed:hover {
    padding: 6px;
    gap: 10px;
    border-radius: 20%;
}

/* === BOTÓN === */
.btn-transporte-fixed1 {
    position: fixed;
    bottom: 25px;
    left: 25px;

    display: flex;
    align-items: center;
    gap: 10px;

    background: linear-gradient(135deg, #000000, #17e7e7);
    color: rgb(255, 2, 2);
    padding: 6px;
    border-radius: 20%;
    font-weight: 900;
    box-shadow: 0 6px 20px rgba(0,0,0,0.25);
    cursor: pointer;
    z-index: 9999;

    transition: all 0.5s ease;
}

/* ✅ Texto oculto (al pasar 5s) */
.btn-transporte-fixed1.hide-text .btn-text {
    opacity: 0;
    max-width: 0;
    transform: translateX(-10px);
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.4s ease;
}

/* ✅ El botón se hace pequeño cuando no hay texto */
.btn-transporte-fixed1.hide-text {
    padding: 6px;
    gap: 0;
    border-radius: 20%;
    transition: all 0.4s ease;
}

/* ✅ Texto visible al entrar a la página */
.btn-transporte-fixed1.show-text .btn-text {
    opacity: 1;
    max-width: 200px;
    transform: translateX(0);
    transition: all 0.4s ease;
}

/* ✅ EL EFECTO CLAVE → al pasar el mouse vuelve a aparecer el texto */
.btn-transporte-fixed1:hover .btn-text {
    opacity: 1;
    max-width: 200px;
    transform: translateX(0);
}

/* ✅ El botón se expande automáticamente al volver el texto */
.btn-transporte-fixed1:hover {
    padding: 6px;
    gap: 10px;
    border-radius: 20%;
}

/* 📱 Ajustes para tablets */
@media (max-width: 1024px) {

  .header {
    padding: 20px 30px;
    height: 50px;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 15%;
    top: 42px;
   
  }
  .header-nav {
    gap: 4px;
  }
  .botton {
    font-size: 0.7em;
    padding: 9px 7px;
    margin-top: 10px; /* ajusta el valor según lo que necesites */
  }
  .botton1{ 
     border-radius: 10%;
  background-image: url('./Imagenes/Colores4.jpg');
  border: transparent;
  font-size: 1.9em;
  padding: 9px 15px;
  background-size: cover;
  background-clip: text;
  color: transparent;
  animation: animate 20s linear infinite;
    /* 👇 Esto lo baja un poco */
  margin-top: 10px; /* ajusta el valor según lo que necesites */
  }
  
  .menu-toggle {
    display: flex; 
  }
  
  /* Popups centrados en móvil */
  .popup-wrapper {
    
    justify-content: center;
    
  }

  .popup-overlay1 {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);  /* centrado horizontal */
    width: 95%;                   /* ocupa casi toda la pantalla */
    max-width: 580px;
    padding: 15px;
    border-radius: 15px;
    
  }

  .popup-content {
    font-size: 14px;
    text-align: center;
  }

  /* Iconos sociales más pequeños */
  .links_F-I-Y a svg {
    width: 38px;
    height: 38px;
    }
    
    .btn-transporte-fixed{
      top: 85%;
      
    }

}


