.traduccion{

    z-index: 99999999999999999999;
    position: fixed;
    top: 15px;
    right: 10px;


}

@media (max-width: 600px) {
    .traduccion{

        padding: 0px 0px;
        top: 0%;
        right: 0%;
    }

}