.proximos-eventos-container {
  background: linear-gradient(to right, #050505, #05ed2f90);
  padding: 1rem;
  border-radius: 10px;
  max-width: 100%;
  margin: auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.imagen-3d-avanzada{
  display: relative;
  width: 80%;
  height: 60%;
  border-radius: 1px;
  box-shadow: 0 1px 12px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
  margin: 0 auto;
  display: block;
  margin-bottom: 0rem;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10%;

}

.eventtitel2 {
  color: #ffffff;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 2px #000;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
}

.eventos-tira {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding: 10px;
  justify-content: center;
  scrollbar-width: thin;
}

.evento-item {
  background: linear-gradient(to right, #050505, #05ed2f90);
  border-radius: 12px;
  padding: 1rem;
  width: 210px;
  height: 150px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  font-family: 'Segoe UI', sans-serif;
  font-size: 1rem;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s ease;
}

.evento-item:hover {
  transform: scale(1.05);
}

.ver-detalle-boton {
  border: none;
  background: transparent;
  padding: 0;
  width: 100%;
  cursor: pointer;
}

.navegacion-eventos {
  background: linear-gradient(to right, #0505053d, #05ed2f47);
  color: white;
  border: none;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease, transform 0.3s ease;
}

.navegacion-eventos:hover {
  background-color: #59d400;
  transform: scale(1.1);
}

.navegacion-eventos:disabled {
  background-color: #888;
  cursor: not-allowed;
}


/* para hacer imagen fondo */
.evento-overlay {
  position: relative;
  width: 10%;
  height: auto;
}

.imagen-fondo {
  width: 10%;
  height: 10px;
  object-fit: cover;
  filter: brightness(0.5); /* oscurece para que el texto resalte */
}

.contenido-sobre-imagen {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  color: white;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.NEvent{
  font-size: 24px;
  font-weight:lighter;
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
}

.navegacion-eventos {
  width: 45px;
  height: 150px;
  font-size: 1.2rem;
  transition: background 0.3s ease, transform 0.3s ease;
  color: rgb(255, 247, 247);
  border: none;
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
}